@model IEnumerable<samiacraft.Models.BLL.navigationBLL>
<nav class="main-navigation">
    <ul>
        @foreach (var item in Model)
        {
        <li class="">
            <a href="@Url.Action("shop", "shop", new { Category = "", CategoryIDs = item.ID, SubCategoryIDs = "",ColorIDs = "",MinPrice = "RS0",MaxPrice = "RS50000",Searchtext = "",SortID=0})">@item.Name</a>

            @if (item.SubCategories.Count > 0)
            {
                <ul class="sub-menu">

                    @foreach (var sub in item.SubCategories)
                    {
                            <li><a href="@Url.Action("shop", "shop", new { Category = "", CategoryIDs = "", SubCategoryIDs = 0, ColorIDs = "", MinPrice = "RS0", MaxPrice = "RS50000", Searchtext = "", SortID = 0 })">@sub.Name</a></li>

                    }
                </ul>
            }
        </li>
        }

    </ul>
</nav>

