
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area section-ptb" style="background: url(https://www.samiacrafts.com/assets/images/bgimg.jpg); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-title">Policy</h2>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap start -->
<div class="main-content-wrap contact-bg">
    <!-- About Us Area -->
    <div class="about-us-area section-ptb">
        <div class="container w-100">
            <div class="row align-items-center">
                <div class="col-lg-12 terms">
                        <a href="~/Home/Policy"><h3 class="font-default display-4 font-weight-bolder">Cancellation & Refund Policy</h3></a>
                    <p>Before placing the order you are requested to read all the Terms and Conditions carefully as you shall be bound by these Terms and Conditions regardless of the country you are currently residing in or regardless of the fact that you did not read them before placing an order.</p>
                    <p><strong>1.</strong>We at Samia Crafts reserve the right to Substitute the product with a suitable product if the ordered product is not available. Please understand that substitutions are necessary to ensure timely delivery of each order and we may or may not contact you before substituting the product. You are also requested to note that all the product images are Studio Images and the actual product delivered may have completely/ Partially different look and feel. In short the quantity will remain the same but the packaging can vary. No refund requests or complaints on grounds that <strong>My product does not look similar to the one shown online" will be entertained.</strong></p>
                    <p>The customer refund procedure might take 2-7 working days to process on the Debit /Credit Cards bank payment gateway. The customer has to follow on with the bank in case of any delay in crediting back the customer’s account with the amount previously paid by the customer. We will send an email to the customer that contains a printout of the refund advice printed from Debit / Credit Cards bank payment gateway as reference in case the customer wants to revise the bank with.</p>

                    <p><strong>2.</strong>No refund request or complaints on grounds that <strong>"I asked this order to be delivered at X time and you didn't"</strong> will be entertained. Please note that we only guarantee delivery on a specified date. We in no way guarantee delivery within a specified time frame, but we will try our best to deliver it always on the time frame requested, but in case the order was delivered on a later time No refunds requested or complains will be entertained.</p>

                    <p><strong>3. Order cancellation:</strong>You have the right to cancel an order up to 15 minutes from placing the order on our website. While every effort is made to ensure that accurate pricing and descriptions are maintained, we reserve the right to cancel any order that is based on inaccurate information. An order may be subsequently cancelled by Samia Crafts after you have received a confirmation and Samia Crafts reserve the right to cancel any order, before or after acceptance, and will notify you immediately of any such cancellation.</p>

                    <br />
                    <a href="~/Home/Policy"> <h3 class="font-default display-4 font-weight-bolder">Shipment and Delivery Policies</h3></a>
                   
                    <p>
                        <strong>Product delivery:</strong>During any product delivery made by Samia Crafts, if the client is not available in the address specified in the system, the product ordered by the client shall not deliver to anywhere else. Within the framework of such a case, the member must accept all legal responsibilities arising from ordering a product to an address where he/she does not exist.

                        We may not be able to provide you with the receivers name or POD if the order is for a "Wedding", "Funeral", "Hotels", "Hostels" or "Hospital". No refund requests or non-delivery complains will be entertained on such grounds.
                    </p>
                    <p>We may not be able to provide you with the receivers name or POD if the order is for a "Wedding", "Funeral", "Hotels", "Hostels" or "Hospital". No refund requests or non-delivery complains will be entertained on such grounds.</p>
                    <p>
                        <strong>Explanation:</strong>Please understand that we may not be permitted to carry the products directly to a room in a "hospital", "hostels" or "hotel" and hence we may we forced to leave them with the reception. Quite often the reception will not sign a delivery confirmation note and hence we may not be able to provide a POD for such deliveries. For flower deliveries made to a Funeral, it does not look nice to trouble the already grieved relative with the Signing process. Hence we may not be able to provide a POD for such deliveries. For flower or gift deliveries made to a wedding hall we may not be able to provide you with a POD if the Bride or Groom or their relative does not cooperate and refuse to sign the POD indicating they are busy or they do not have time.

                    </p>

                    <hr class="mt-35" />
                    <p><strong>Governing law & competent:</strong>These Website Terms shall be governed by and construed in accordance with the law of each country of delivery. Disputes arising in connection with these Website Terms (including non-contractual disputes) shall be subject to the exclusive jurisdiction of the courts of the respective delivery country.</p>
                    <p>
                        <strong>License:</strong>Samia Crafts grants you permission (which may be revoked at any time for any reason or no reason) to view the site and to download, email, share via social networking or print individual pages from the site in accordance with these Terms of Use and solely for your own personal, non-commercial use, provided you do not remove any trademark, copyright or other notice contained on such pages. No other use is permitted. You may not, for example, incorporate the information, content, or other material in any database, compilation, archive or cache. You may not modify, copy, distribute, re-publish, transmit, display, perform, reproduce, publish, reuse, resell, license, create derivative works from, transfer, or sell any information, content, material, software, products or services obtained from the site, except as specifically noted above. Except as specifically authorized by Samia Crafts, you may not deep-link to the site for any purpose or access the site manually or with any robot, spider, web crawler, extraction software, automated process or device to scrape, copy, or monitor any portion of the site or any information, content, or material on the site. Samia Crafts reserves all of its statutory and common law rights against any person or entity who violates this paragraph. You may not link or frame to any pages of the site or any content contained therein, whether in whole or in part, without prior written consent from Samia Crafts. You may become a "fan" of the site or share links to the site via social networking technology reference on the site. Any rights not expressly granted herein are reserved.
                    </p>
                    <p>
                        <strong>Intellectual property rights:</strong>The content on the website ("Samia Crafts") and the trademarks, service marks and logos contained therein ("Marks") are owned by or licensed to Samia Crafts, and are subject to copyright and other intellectual property rights under the kingdom of Bahrain and international conventions. Samia Crafts Content, includes, without limitation, all source code, databases, functionality, software, website designs, audio, video, text, photographs and graphics. All Samia Crafts graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, common law trademarks or trade dress of Samia Crafts in Bahrain and/or other countries. Samia Crafts trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of Samia Crafts. Samia Crafts Content on the website is provided to you "AS IS" for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcasted, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. Systematic retrieval of data or other content from the website to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Samia Crafts is prohibited.

                        Provided that you are eligible to use the website, you are granted a limited license to access and use the website and the Samia Crafts content and to download or print a copy of any portion of the Samia Crafts content to which you have properly gained access solely for your personal, non-commercial use. Samia Crafts reserves all rights not expressly granted to you in and to the website and Samia Crafts Content and Marks. If you download or print a copy of the Samia Crafts content for personal use, you must retain all copyright and other proprietary notices contained therein. You agree not to circumvent, disable or otherwise interfere with the security related features of the website or features that prevent or restrict use or copying of any Samia Crafts content or enforce limitations on use of the website or the Samia Crafts content therein.
                    </p>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        var storedCityName = getCookieValue("CityName");
        function getCookieValue(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");

            if (parts.length === 2) {
                return parts.pop().split(";").shift();
            } else {
                return null; // Cookie not found or empty
            }
        }
        $('#cityClick span').text(storedCityName);
    });
</script>
<!--// About Us Area -->
